*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter', sans-serif;
    background:#ffffff;
    color:#222;
    font-size: 1.6rem;
}
html{
    font-size: 62.5%;
}
@media (max-width: 786px) {

}
/*HEADER*/
.header{
    display: grid;
    grid-template-columns: 30rem 1fr;
    background-color: #FFFFFF;
}
.header-box2{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: space-evenly;
    border-left: 3px solid #A1A1AA;
}
.header-box2 h2{
    color: #A1A1AA;
}
.search-box {
    position: relative;
    width: 40rem;
}

.search-box i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #A1A1AA;
}

.search-box input {
    width: 100%;
    padding: 12px 12px 12px 40px; /* space for icon */
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.search-box input:focus {
    border-color: #4CAF50;
}
.header-box1{
    display: flex;
    align-items: center;
}
.header img{
    height: 7rem;
    margin-left: 3rem;
}
